{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{ $gitemail := promptString "git email" -}}
{{ $gituser := promptString "git username" -}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1x0arkv8geufsdu83ty275d6yt0fdaak528qp30n6nn4knl00hu0sl5urjm"

[data]
    osid = {{ $osid | quote }}
    gitemail = {{ $gitemail | quote }}
    gituser = {{ $gituser | quote }}

