############################################################################
### Oh My Zsh settings & plugins
############################################################################

# Setup $PATH.
export PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH

# Path to oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the oh-my-zsh theme to load
# The theme only loads while starship prompt is not installed and activated
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="bira"

# Uncomment the following line if pasting URLs and other text is messed up.
DISABLE_MAGIC_FUNCTIONS="true"

# Ignore commands that start with spaces and duplicates.
export HISTCONTROL=ignoreboth

# Don't add certain commands to the history file.
export HISTIGNORE="&:[bf]g:c:clear:clr:history:exit:q:pwd:* --help"

# eza settings
zstyle ':omz:plugins:eza' 'dirs-first' yes
zstyle ':omz:plugins:eza' 'icons' yes

# OS specific plugins
{{- if eq .osid "darwin" "linux-ubuntu" "linux-debian" }}
# Ensure brew is loaded first on Mac, Ubuntu, Debian and Fedora (Universal Blue distros).
# Otherwise the brew-installed packages aren't available on the PATH.
plugins+=(
  brew
)
# Disable Homebrew hints
export HOMEBREW_NO_ENV_HINTS=1
{{- end }}

{{ if eq .osid "linux-ubuntu" "linux-debian" }}
plugins+=(
  ubuntu
)
{{ else if eq .osid "linux-arch" "linux-cachyos" }}
plugins+=(
  archlinux
)
{{- end }}

# Host specific plugins
{{- if eq .chezmoi.hostname "RTY-6495672069" "RTY-4110655125" "docker" "cachy-mini" "cachy-desktop" }}
plugins+=(
  docker
  docker-compose
)
# lazydocker alias
alias lzd='lazydocker'
{{- end }}

{{- if eq .chezmoi.hostname "MacBookAir" "RTY-6495672069" "RTY-4110655125" "cachy-desktop" }}
plugins+=(
  kubectl
)
# add krew (kubectl plugin manager) to PATH
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{{- end }}

{{- if eq .chezmoi.hostname "cachy-desktop" }}
plugins+=(
  podman
)
# Podman somehow conflicts with wl-clipboard (or maybe how it's integrated in niri/DMS)
# and won't show stdout when the clipboard is empty. Simply copying nothing fixes this.
echo | wl-copy
{{- end }}

# General plugins that should be loaded on every host
plugins+=(
  chezmoi
  common-aliases
  direnv
  eza
  fzf
  git
  history
  mise
  rsync
  ssh
  systemadmin
  zsh-autosuggestions
  zsh-syntax-highlighting
  zoxide
)

# Load oh-my-zsh
source $ZSH/oh-my-zsh.sh

############################################################################
### Load aliases from "$HOME/.config/zsh/aliases"
############################################################################
for alias_file in "$HOME/.config/zsh/aliases"/*.zsh; do
  [[ -r "$alias_file" ]] && source "$alias_file"
done

############################################################################
### Load env vars, tools initializations, etc. from "$HOME/.config/zsh/env"
############################################################################
for env_file in "$HOME/.config/zsh/env"/*.zsh; do
  [[ -r "$env_file" ]] && source "$env_file"
done

############################################################################
### Load functions from "$HOME/.config/zsh/functions"
############################################################################
for func_file in "$HOME/.config/zsh/functions"/*.zsh; do
  [[ -r "$func_file" ]] && source "$func_file"
done

############################################################################
### Host specific settings, variables, aliases, etc.
### Stuff that shouldn't be committed to chezmoi can also be placed in the
### direcotories for aliases, env or functions and just not be added.
############################################################################
{{- if eq .chezmoi.hostname "nina-desktop" }}
# Init ssh-agent so vscode can forward the keys to a dev container
if [ -z "$SSH_AUTH_SOCK" ]; then
  # Check for a currently running instance of the agent
  RUNNING_AGENT="$(ps -ax | grep 'ssh-agent -s' | grep -v grep | wc -l | tr -d '[:space:]')"
  if [ "$RUNNING_AGENT" = "0" ]; then
    # Launch a new instance of the agent
    ssh-agent -s &>$HOME/.ssh/ssh-agent
  fi
  eval $(cat $HOME/.ssh/ssh-agent) >/dev/null
  ssh-add $HOME/.ssh/id_ed25519 2>/dev/null
fi
# Init cargo / rust
source $HOME/.cargo/env
# COLORTERM isn't set on WSL and without it terminal apps like k9s look weird
export COLORTERM=truecolor
# set cursor to steady underline
echo -e -n "\x1b[4 q"
{{- end }}

{{- if eq .chezmoi.hostname "MacBookAir" }}
# iTerm2
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
# bun
[ -s "/Users/ninagrosse/.bun/_bun" ] && source "/Users/ninagrosse/.bun/_bun"
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
# So lazygit can pickup the config
export XDG_CONFIG_HOME="$HOME/.config"
# To use gnu-tar from homebrew as tar
export PATH="/opt/homebrew/opt/gnu-tar/libexec/gnubin:$PATH"
{{- end }}

{{- if eq .chezmoi.hostname "RTY-6495672069" "RTY-4110655125" }}
# maven config
export M2_HOME=/home/linuxbrew/.linuxbrew/Cellar/maven/3.9.9
export M2=$M2_HOME/bin
export MAVEN_OPTS='-Xms256m -Xmx512m'
export PATH=$M2:$PATH
# add /snap/bin to PATH
export PATH=/snap/bin:$PATH
# COLORTERM isn't set on WSL and without it terminal apps like k9s look weird
export COLORTERM=truecolor
# set cursor to steady underline
echo -e -n "\x1b[4 q"
{{- end }}

{{- if eq .chezmoi.hostname "soniq-pi4" }}
# load bash autocompletion for pihole
autoload bashcompinit
bashcompinit
source /etc/bash_completion.d/pihole

# vpn logs
alias vpnl='tail -f /var/log/openvpn.log'
alias vpns='cat /var/log/openvpn-status.log'

# Catppuccin colors for fzf don't work here, so unset them
unset FZF_DEFAULT_OPTS
{{- end }}

{{- if eq .osid "linux-arch" "linux-cachyos" }}
# Recent installed packages
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"
# paru aliases
alias parclean='paru -Sc'
alias parclr='paru -Scc'
alias parupg='paru -Syu'
alias parsu='paru -Syu --noconfirm'
alias parin='paru -S'
alias parins='paru -U'
alias pare='paru -R'
alias parem='paru -Rns'
alias parep='paru -Si'
alias pareps='paru -Ss'
alias parloc='paru -Qi'
alias parlocs='paru -Qs'
alias parlst='paru -Qe'
alias parorph='paru -Qtd'
alias parinsd='paru -S --asdeps'
alias parmir='paru -Syy'
alias parupd="paru -Sy"
{{- end }}

{{ if eq .osid "linux-ubuntu" "linux-debian" }}
# age alieas is from ubuntu plugin and aliases to 'sudo apt', but this conflicts with age encryption
unalias age
{{- end }}

# vim:filetype=zsh
