#!/usr/bin/env zsh

{{- if eq .osid "darwin" "linux-ubuntu" "linux-debian" "linux-aurora" }}
# {{ include "Brewfile" | sha256sum }}

# Source oh-my-zsh brew plugin, so brew shellenv is initialized and
# we can use 'brew bundle' to install packages
source ${ZSH:-~/.oh-my-zsh}/plugins/brew/brew.plugin.zsh
if [[ ! $(command -v brew) ]]; then
  echo "brew is not installed. Please install it first and then run 'chezmoi apply' again."
  exit 1
fi
# Install packages from Brewfile
brew bundle --no-lock --file="$HOME"/.local/share/chezmoi/Brewfile

{{ else if eq .osid "linux-arch" }}
# {{ include "packages-arch.sh" | sha256sum }}

# Install Arch packages from packages-arch.sh
if [[ ! $(command -v paru) ]]; then
  echo "paru is not installed. Please install it first and then run 'chezmoi apply' again."
  exit 1
fi
bash "$HOME"/.local/share/chezmoi/packages-arch.sh

{{- end }}

# Build bat cache so it can pick up Catppuccin theme
bat cache --build

# Run 'ya pack' to (re)install yazi plugins and themes
# Include hash of yazis package.toml, so the script gets executed when package.toml changes
# {{ include "dot_config/yazi/package.toml" | sha256sum }}
rm -rf "$HOME"/.config/yazi/flavors
rm -rf "$HOME"/.config/yazi/plugins
ya pack -i

# Install/update nvm
PROFILE=/dev/null bash -c 'curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash'

# vim:filetype=zsh
