layout {
  pane split_direction="vertical" {
    pane split_direction="horizontal" {
        pane {
          command "ssh"
          args "server1"
        }
        pane {
          command "ssh"
          args "server2"
        }
        pane {
          command "ssh"
          args "server3"
        }
      }
      pane split_direction="horizontal" {
        pane {
          command "ssh"
          args "server4"
        }
        pane {
          command "ssh"
          args "server5"
        }
      }
  }
  pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }
}
